*.DS_Store
presento/logs/*
!presento/logs/.gitkeep
mysql/*
!mysql/.gitkeep

# postgres
postgres/data/*
postgres/.env
!postgres/.gitkeep

# configs env
configs/env/*
!configs/env/templates

# configs keys
configs/keys/*
!configs/keys/.gitkeep

# rabbitmq
rabbitmq/data/*
!rabbitmq/.gitkeep

.env

# log files
logs/*/*
!logs/*/.gitkeep

# casdoor config
casdoor/conf/app.conf

# db replication config
db-replica/pg*_data/*
!db-replica/pg*_data/.gitkeep